<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hilow.searchcar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SearchCar">
        <activity
            android:name=".ListHonda"
            android:label="@string/list_honda"/>
        <activity
            android:name=".ListToyota"
            android:label="@string/list_toyota" />
        <activity
            android:name=".ListMobil"
            android:label="@string/list_mobil" />
        <activity android:name=".ProfilUser" />
        <activity
            android:name=".KodePembayaran"
            android:label="@string/kode_qr" />
        <activity
            android:name=".DetailPembayaran"
            android:label="@string/detail_pembayaran" />
        <activity
            android:name=".DetailSewa"
            android:label="@string/detail_sewa" />
        <activity android:name=".LoginPenyewa" />
        <activity android:name=".DaftarUser" />
        <activity android:name=".ProfilAdmin" />
        <activity android:name=".UpdateMobil" />
        <activity android:name=".TambahMobil" />
        <activity android:name=".HomeAdmin" />
        <activity android:name=".LoginAdmin" />
        <activity android:name=".DaftarAdmin" />
        <activity android:name=".LoginUser" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">

            <!-- Hapus Intent Filter MainActivity -->
        </activity>
    </application>

</manifest>